<div [@routerTransition]>
<!--  <app-page-header [heading]="'Cuentos Para Leer'" [icon]="'fa fa-book'"></app-page-header>-->


  <div class="jumbotron">
    <br>
    <h2 style="font-family: 'Courier New', Courier, monospace;"> <b> Blanca Nieves y los 7 enanitos</b></h2>
    <p>Blancanieves era una bella niña que tenía grandes sentimientos. Siendo aún muy pequeña su madre murió y,
      tiempo después, su padre volvió a rehacer su vida al lado de otra mujer. La madrasta de Blancanieves era una
      terrible mujer y la envidiaba muchísimo a causa de su belleza. La madrasta de Blancanieves poseía un espejo
      mágico que era capaz de decirle quien era la mujer más guapa del reino. Ella siempre muy confiada le decía:
    </p>
    <ul>
      <li>
        <p>Ohhh espejito mágico, ¿podrías decirme tu quién es la más guapa?</p>
      </li>
      <li>
        <p>Eres tú mi señora, la más bella de todas – el espejo respondía ante la petición de su ama.</p>
      </li>
    </ul>
    <p>Hubo una ocasión en que la respuesta del espejo no fue la que ella acostumbraba a escuchar sino que en su
      lugar dijo:</p>
    <ul>
      <li>
        <p>Mi señora eres tú muy guapa pero, siento decirle que hoy Blancanieves es más guapa.</p>
      </li>
    </ul>
    <p>Al escuchar aquella respuesta la mujer enfureció muchísimo pues no entendía que Blancanieves fuese la más
      hermosa. Debido a esto reunió a todos sus sirvientes con prisa y les dijo:</p>
    <ul>
      <li>
        <p>Hace unos instantes el espejo mágico me ha revelado que ahora Blancanieves es más guapa que yo. Es
          por esto que les ordeno que la capturen, la lleven al bosque y la maten, y para estar segura de que
          cumplieron la orden, me traen en una caja su corazón.</p>
      </li>
    </ul>
    <div class="row justify-content-md-center">
      <img src="https://sinalefa2.files.wordpress.com/2012/06/madrastra.png" style="align-items: center;margin-left: 40%"
           width="35%" alt="">
    </div>
    <p>Todos los sirvientes, ante tal orden, fueron en busca de la joven y al encontrarla le propusieron ir a dar un
      paseo por el bosque. Mientras daban el paseo, todos los empleados iban comentando que no podían hacer eso
      porque la pequeña Blancanieves era muy buena y noble y no se merecía ese castigo.</p>
    <p>Después de un rato caminando llegaron a las profundidades del bosque, y ahí todos los sirvientes le contaron
      que su madrastra los había enviado a matarla pero que ellos no podía hacer eso, la dejaron ahí y le pidieron
      que huyera. En su lugar, le llevaron a la madrastra un corazón de un jabalí para que no sospechara.</p>
    <p>La pobre muchacha empezó a caminar por el bosque hasta que encontró una pequeña casita y entró. En el
      interior todo era muy pequeño, había una mesa muy chiquitica, 7 sillitas y 7 camitas. La pobre Blancanieves
      tenía mucha hambre y estaba un poco cansada así que se comió todo lo que había en los siete platitos y
      después se acostó sobre las siete camitas.</p>
    <p>Esta pequeña casita que Blancanieves había invadido tenía dueños, y no eran nada más y nada menos que siete
      enanitos. Al llegar estos a la casa se percataron como la niña dormía tan placenteramente sobre sus camas.
      Uno de los presentes al verla dijo:</p>
    <ul>
      <li>
        <p>¡Nunca había visto tanta belleza! Vean que linda es.</p>
      </li>
      <li>
        <p>Si es muy bella – respondió otro de los enanos – Podría quedarse a vivir con nosotros.</p>
      </li>
    </ul>
    <p>Y así sucedieron las cosas, al despertar ella les contó todo lo que había sucedido y las terribles cosas
      que
      su madrastra pretendía. Al terminar le pidieron que se quedara con ellos y ella accedió muy contenta.
    </p>
    <div class="row justify-content-md-center">
      <img src="https://www.ecuavisa.com/sites/default/files/fotos/2019/08/11/_108218746_blancanieves01.jpg"
           style="align-items: center;margin-left: 40%" width="35%" alt="" >
    </div>

    <p>La madrasta no se daba por vencida y seguía preguntándole a su espejo que quien era la más guapa de
      todas, y el espejo como no podía mentir, respondía una y otra vez:</p>
    <ul>
      <li>
        <p>Mi señora eres tú muy guapa pero, siento decirle que hoy Blancanieves es más guapa.</p>
      </li>
    </ul>
    <ul>
      <p>La madrastra muy enfadada decía – esto no puede ser, ella está muerta, yo vi su corazón.</p>
      <p>El espejo ante tal exclamación le dijo a su señora:</p>
      <li>
        <p>Siento decirle que fue engañada, ella no está muerte, sino que vive aún, y está en una pequeña casa
          en el bosque junto a siete enanitos.</p>
      </li>
    </ul>
    <p>La madrastra muy enfadad, al descubrir que había sido engañada y que la joven aún vivía, se disfrazó de
      vieja y se dirigió hacia donde estaba la pequeña. Para poder acabar de una vez con ella, llevaba una
      cesta con manzanas que estaban envenenadas. Al llegar a la casa tocó a la puerta y Blancanieves dijo:
    </p>
    <ul>
      <li>
        <p> ¿Quién llama a la puerta? – dijo Blancanieves.</p>
      </li>
      <li>
        <p>Mi niña, soy una anciana muy pobre y he venido a traerte manzanas – respondió la malvada madrastra.
        </p>
      </li>
    </ul>

    <div class="row justify-content-md-center">
      <img src="assets/images/manzanas.png" style="align-items: center;margin-left: 40%" width="35%"
           alt="">
    </div>
    <p>Al escuchar esas palabras, Blancanieves abrió la puerta y al ver las hermosas manzanas no pudo resistirse.
      Tomó una ye inmediatamente cayó muerta. La terrible mujer se marchaba riendo mucho y muy alegre de que por
      fin había logrado acabar con Blancanieves y ser ella la más hermosa de todas.</p>

    <p>Los enanitos, al llegar a la casa se encontraron a Blancanieves tendida en el suelo y ellos muy entristecidos
      empezaron a llorar. Los enanitos muy apenados construyeron una caja de cristal en la que pusieron a
      Blancanieves y la trasladaron al bosque.</p>
    <p>Mientras estaban allí, el príncipe pasó y se quedó maravillado con la belleza de Blancanieves y sintió mucho
      la tristeza de los enanitos. Fue entonces cuando decidió abrir la caja y besar a Blancanieves, que despertó.
    </p>
    <div class="row justify-content-md-center">
      <img src="https://static1.elcorreo.com/www/multimedia/201902/14/media/cortadas/beso-animado-dos-kjfC-U70651176942YvB-624x385@RC.jpg"
           style="align-items: center;margin-left: 40%" width="35%" alt="">
    </div>
    <p>¡Qué alegría tenían todos los enanos cuando vieron que Blancanieves estaba viva, no paraban de saltar de la
      emoción! Después de esto el príncipe se casó con Blancanieves y ellos junto a los siete enanitos vivieron
      juntos en el palacio.</p>
    <div class="row justify-content-md-center">
      <img src="https://laverdadnoticias.com/export/sites/laverdad/img/2018/12/21/blanca_03.jpg_998780120.jpg"
           style="align-items: center; margin-left: 40%" width="35%" alt="">
    </div>
  </div>
</div>
