.example-card {
  width: 90%;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(224, 180, 10, 0.7);
  border-inline: 5px solid #ffcc00;
  writing-mode: horizontal-tb;
  background: rgba(255, 221, 144, 0.89);
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-expansion-panel{
  background: rgba(225, 154, 77, 0.69);
}

