<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="form-container">
        <h1>Bienvenido a ÉRASE UNA VEZ</h1>
        <h5 style="text-align: center">¡Página de cuentos fav!</h5>

          <mat-card-actions style="margin-left: 38% " >
            <button   mat-raised-button color="accent" (click)="irlogin()">INGRESAR</button>
          </mat-card-actions>


    </div>
  </section>

</body>
</html>

