<div [@routerTransition]>




  <div class="jumbotron">
    <h2 style="font-family: 'Courier New', Courier, monospace;"> <b> Pinocho</b></h2>

    <p> Había una vez, un viejo carpintero de nombre Gepetto, que como no tenía familia, decidió hacerse un muñeco
      de madera para no sentirse solo y triste nunca más. </p>
    <p>“¡Qué obra tan hermosa he creado! Le llamaré Pinocho” – exclamó el anciano con gran alegría mientras le daba
      los últimos retoques. Desde ese entonces, Gepetto pasaba las horas contemplando su bella obra, y deseaba que
      aquel niño de madera, pudiera moverse y hablar como todos los niños.</p>
    <p>Tal fue la intensidad de su deseo, que una noche apareció en la ventana de su cuarto el Hada de los
      Imposibles. “Como eres un hombre de noble corazón, te concederé lo que pides y daré vida a Pinocho” – dijo
      el hada mágica y agitó su varita sobre el muñeco de madera. Al momento, la figura cobró vida y sacudió los
      brazos y la cabeza.</p>
    <ul>
      <li>
        <p>¡Papá, papá! – mencionó con voz melodiosa despertando a Gepetto.</p>
      </li>
      <li>
        <p>¿Quién anda ahí?</p>
      </li>
      <li>
        <p>Soy yo, papá. Soy Pinocho. ¿No me reconoces? – dijo el niño acercándose al anciano.</p>
      </li>
    </ul>
    <p>Cuando logró reconocerle, Gepetto lo cargó en sus brazos y se puso a bailar de tanta emoción. “¡Mi hijo, mi
      querido hijo!”, gritaba jubiloso el anciano.</p>
    <p>Los próximos días, fueron pura alegría en la casa del carpintero. Como todos los niños, Pinocho debía
      alistarse para asistir a la escuela, estudiar y jugar con sus amigos, así que el anciano vendió su abrigo
      para comprarle una cartera con libros y lápices de colores.</p>
    <div class="row justify-content-md-center">
      <img src="assets/images/pinocho.png"
           style="align-items: center;margin-left: 40%" width="35%" alt="">
    </div>
    <p>El primer día de colegio, Pinocho asistió acompañado de un grillo para aconsejarlo y guiarlo por el buen
      camino. Sin embargo, como sucede con todos los niños, este prefería jugar y divertirse antes que asistir a
      las clases, y a pesar de las advertencias del grillo, el niño travieso decidió ir al teatro, a disfrutar de
      una función de títeres.</p>
    <p>Al verle, el dueño del teatro quedó encantado con Pinocho: “¡Maravilloso! Nunca había visto un títere que se
      moviera y hablara por sí mismo. Sin dudas, haré una fortuna con él” – y decidió quedárselo. Este aceptó la
      invitación de aquel hombre ambicioso, y pensó que con el dinero ganado podría comprarle un nuevo abrigo a su
      padre.</p>
    <p>Durante el resto del día, Pinocho actúo en el teatro como un títere más, y al caer la tarde decidió regresar
      a casa con Gepetto. Sin embargo, el dueño malo no quería que el niño se fuera, por lo que lo encerró en una
      caja junto a las otras marionetas. Tanto fue el llanto de Pinocho, que al final no tuvo más remedio que
      dejarle ir, no sin antes obsequiarle unas pocas monedas.</p>
    <p>Cuando regresaba a casa, se topó con dos astutos bribones que querían quitarle sus monedas. Como era un niño
      inocente y sano, los ladrones le engañaron, haciéndole creer que si enterraba su dinero, encontraría al día
      siguiente un árbol lleno de monedas, todas para él.</p>
    <p>El grillo trató de alertarle sobre semejante timo, pero Pinocho no hizo caso a su amigo y enterró las
      monedas. Luego, los terribles vividores esperaron a que el niño se marchara, desenterraron el dinero y se lo
      llevaron muertos de risa.</p>
    <p>Al llegar a casa, Pinocho descubrió que Gepetto no se encontraba, y empezó a sentirse tan solo, que rompió en
      llantos. Inmediatamente, apareció el Hada de los Imposibles para consolar al triste niño. “No llores
      Pinocho, tu padre se ha ido al mar a buscarte”.</p>
    <p>Y tan pronto supo aquello, Pinocho partió a buscar a Gepetto, pero por el camino tropezó con un grupo de
      niños:</p>
    <ul>
      <li>
        <p>¿A dónde se dirigen? – preguntó Pinocho</p>
      </li>
      <li>
        <p>Vamos al País de los Dulces y los Juguetes – respondió uno de ellos – Ven con nosotros, podrás
          divertirte sin parar.</p>
      </li>
      <li>
        <p>No lo hagas, Pinocho – le dijo el grillo – Debemos encontrarnos con tu padre, que se ha ido solo y
          triste a buscarte.</p>
      </li>
      <li>
        <p>Tienes razón, grillo, pero sólo estaremos un rato. Luego le buscaré sin falta.</p>
      </li>
    </ul>
    <p>Y así se fue Pinocho acompañado de aquellos niños al País de los Dulces y los Juguetes. Al llegar, quedó tan
      maravillado con aquel lugar que se olvidó de salir a buscar al pobre de Gepetto. Saltaba y reía Pinocho
      rodeado de juguetes, y tan feliz era, que no notó cuando empezó a convertirse en un burro.</p>
    <div class="row justify-content-md-center">
      <img src="https://www.ninos.ec/bebe/images/stories/cuentos/pinocho6.jpeg" style="align-items: center;margin-left: 40%" width="35%" alt="">
    </div>
    <p>Sus orejas crecieron y se hicieron muy largas, su piel se tornó oscura y hasta le salió una colita peluda que
      se movía mientras caminaba. Cuando se dio cuenta, comenzó a llorar de tristeza, y el Hada de los Imposibles
      volvió para ayudarle y devolverlo a su forma de niño.</p>
    <ul>
      <li>
        <p>Ya eres nuevamente un niño bello, Pinocho, pero recuerda que debes estudiar y ser bueno.</p>
      </li>
      <li>
        <p>Oh sí, señora hada, a mí me encanta estudiar – dijo Pinocho y al instante, le quedó crecida la nariz.
        </p>
      </li>
      <li>
        <p>Tampoco debes decir mentiras, querido Pinocho.</p>
      </li>
      <li>
        <p>No, para nada, nunca he dicho una mentira – pero la nariz le creció un poco más – ¡Y siempre me porto
          muy bien!</p>
      </li>
    </ul>
    <p>Pero al decir aquello la nariz le creció tanto, que apenas podía sostenerla con su cabeza. Con lágrimas en
      los ojos, Pinocho se disculpó con el Hada y le prometió que jamás volvería a decir mentiras, por lo que su
      nariz volvió a ser pequeña. Entonces, él y el grillo decidieron salir a buscar a Gepetto. Sin embargo,
      cuando llegaron al mar, descubrieron que el anciano había sido tragado por una enorme ballena.</p>
    <p>Enseguida, se lanzó al agua, y después de mucho nadar, se encontró frente a frente con la temible ballena.
      “Por favor, señora ballena, devuélvame a mi padre”. Pero el animal no le hizo caso, y se tragó a Pinocho
      también. Al llegar al estómago, se encontró con el viejo Gepetto y quedaron abrazados un largo rato.</p>
    <ul>
      <li>
        <p>Tenemos que salir cuanto antes, Pinocho – exclamó Gepetto</p>
      </li>
      <li>
        <p>Hagamos una fogata papá. El humo hará estornudar a la ballena y podremos escapar.</p>
      </li>
    </ul>
    <p>Y así fue como Pinocho y su padre quedaron a salvo de la ballena, pues estornudó tan fuerte que los lanzó
      fuera del vientre y lograron escapar a tierra firme. Cuando llegaron a casa, este se arrepintió por haber
      desobedecido a su padre, y desde entonces no faltó nunca a clases, y fue tan bueno y disciplinado, que el
      Hada de los Imposibles decidió convertirlo en un niño de carne y hueso, para alegría de su padre, el viejo
      Gepetto, y del propio Pinocho.</p>
    <div class="row justify-content-md-center">
      <img src="https://i.pinimg.com/originals/ea/a1/18/eaa1181a4bd6560dc726ea150b4046bb.jpg"
           style="align-items: center;margin-left: 40%" width="35%" alt="">
    </div>
  </div>



</div>
