<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<mat-card class="example-card">
  <mat-card-header class="example-card2" style="margin-top: 10px">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="font-size: xx-large;align-content: center">Bienvenido a Érase Una Vez</mat-card-title>
    <mat-card-subtitle> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>




  </mat-card-content>

  <mat-card-actions>

    <div class="im" class="row justify-content-md-center">
      <div class="im" class="col-sm-auto">
        <!--<a href="app/pantallas/paraleer.html"><img src="assets/images/chanchito.jpg"></a>-->
        <a class="im" [routerLink]="['/panel/cuentoss/cuentoss11']"><img class="im" src="assets/images/blancanieves.png" width="275px" height="350px"></a>

        <a class="im" [routerLink]="['/panel/cuentoss/cuentoss22']"><img class="im" src="assets/images/caperucita.png" width="275px" height="350px"></a>
        <a class="im" [routerLink]="['/panel/cuentoss/cuentoss33']"><img  class="im"src="assets/images/pinocho.png" width="275px" height="350px"></a>

      </div>
      <div class="im" class="col-sm-auto">
        <button class="im" [routerLink]="['/panel/cuentoss/cuentosver']"   width="90%">
        </button>
      </div>
      <!--<div class="col-sm-auto">
          <a href="Javascript:void(0)" [routerLink]="['/dashboard']"><img src="assets/images/sirena.jpg"></a>
      </div>-->
    </div>
  </mat-card-actions>


</mat-card>

<hr />

</body>
</html>
